@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=DynaPuff&family=Noto+Serif&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

/* Logo */
img[alt='Logo']{
    clip-path: circle();
}
/* body */
body{
    background-image: url("https://i.postimg.cc/fTtFgMhq/Minimal-black-white-ink-splash-iphone-phone-wallpaper-background-lock-screen.jpg");
    background-repeat: repeat-y;
}
#home,#about,#education,#skills,#projects,#testimonials,.foot{
    text-align: center;
}
button[type='reset'], button[type='submit']{
   border-radius: .5rem;
}

/* Custom variables */
:root{
    --primary: rgb(0, 0, 0);
    --secondary: white;
    --alternative: hsla(0, 2%, 60%, 0.7);
    --awesomeColor: rgb(65, 66, 66);
    --grey: rgb(112, 112, 112);
    --mainBox-shadow: -8px -3px 23px 5px rgba(30, 28, 28, 0.75);
}
section{
    scroll-margin-block-start: 76px;
    width: 700px;
    border-radius: 1.5rem;
    background-image:linear-gradient(45deg, #9ea09c,#e6e6e6) ;
    margin: 3rem;
    padding: 2rem;
}
h2,h5{
    background-image:linear-gradient(45deg, #fbfdfa,#c86b6b) ;
    border-radius: 5px; 
    text-align: center;
}
*{
    font-family: 'PT Serif',serif;
}
label{
    font-size: larger;
    font-weight: bold;
}
.projects p{
    background-color: #9ea09c;
    opacity: .9;
    color: #0b0b0b;
}

/* Navigation */
.navbar{
    background-image:linear-gradient(45deg, #9ea09c,#e6e6e6) ; 
}


 .navbar-nav .nav-item:hover{
    background-image:linear-gradient(45deg, #fbfdfa,#c86b6b) ;
   border-radius: 30px;
   transform: translateY(-0.5rem);
   transition: top 0.5s, opacity 0.5s ;
}
#navbarNavDropdown{
    margin-right:30rem ;
}

/* Landing */
.aspirations{
    color: #c05050;
    font-weight: bold;
}
/* Education */
.education {
    width: 40em;
    margin: 5px auto;
    padding: 10px;
}
.card.education {
    border: 4px solid var(--grey);
    margin: 10px 0;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    background-color: var(--alternative);
}  
.card.education:nth-child(odd) {
    position: relative;
}
.card.education:nth-child(odd)::after {
    position: absolute;
    top: -3em;
    right: 0;
    content: '';
    width: 4px;
    height: 40vh;
    border-right: 2px solid var(--primary);
}
.card.education:nth-child(even) {
    box-shadow: .5vw .2vw .7vw var(--awesomeColor);
    margin-left: auto;
    position: relative;
}
.card.education:nth-child(even)::after {
    position: absolute;
    content: '';
    top: 90px;
    z-index: 20;
    left: -2em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--awesomeColor);
    box-shadow: 10s .5vw 1vw rgba(90, 115, 132, 0.9);
}

/* Projects */
.carousel-item {
    height: 496px;
    
 }
 .d-block{
     height: 100%;
     object-fit: cover;
 }
 .site{
     background-image:linear-gradient(135deg, #fbfdfa,#c03a3a) ;
     color: #1f1e1e;
 }
 .projects,.testimonials{
    
     padding: 2rem 2rem 3rem;
     font-size: 1.5rem;
 }

 /* Testimonials */
 .testimonials img{
    /* clip-path:circle(); */
    margin-top: 0;
  
 }
 /* Contact */
.contact{
    background-image:linear-gradient(45deg, #838680,#e6e6e6) ;
    padding: 0 2rem;
    margin: 3rem 1rem;
    
    
}
form input, form textarea{
    width: 90%;
    border: 0;
    outline: none;
    background:rgba(222, 219, 219, 0.818);
    padding: 15px;
    margin: 15px 0;
    color: #1f1e1e;
    font-size: 18px;
    border-radius: 6px;

}
form input#name, form input#mail{
    width: 50%;

}
form button{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-image:linear-gradient(45deg, #fbfdfa,#c86b6b) ;
}

/* Footer */
.footer .list-inline-item:hover{
    transform: translateY(0.5rem);
    transition: top 0.5s, opacity 0.5s ;
    
}
.footer img{
    margin-left: 7rem;
}

/* Media query */
@media screen and (width < 900px) {
    /* Education */
    .education {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        gap: 20px;
        align-items: center;
    }
    .card{
        width: 100%;
        flex-wrap: wrap;
    }
    .card a , .card p, footer p{
        font-size: small;
    }
    .card:nth-child(odd) {
        margin-left: 0;
    }
    .card:nth-child(odd)::after {
        content: none;
    }
    .card:nth-child(even) {
        margin-left: 0;
    }
    .card:nth-child(even)::after {
        content: none;
    }
}

@media screen and (width < 790px) {
    #home img{
        display: none;
    }
    form input#name, form input#mail{
        width: 90%;
    
    }
    .footer img{
        margin-left: 0;
    }
}

@media screen and (width <1050px){
    #navbarNavDropdown{
        margin-right:0;
    }
}
